body{
    background-color: rgb(240, 235, 229);
    text-transform: uppercase;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 header li , header a {
    font-size: 18px;
    font-weight: 500;
    color: #A987AF;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background-color:  #efbec6af;
    max-width: 1366px;
    margin: 0 auto;
}

.logo{
    width: 100px;
    height: 100px;
    order: 1;
}
 nav .logo{
    display: flex;
    cursor: pointer;
    align-items: center;
}

nav{
    order: 1;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color:#74527a;
}

.cta{
    order: 2;
}

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 30px 13%;
    background-color:#efbec6af ;
    display: flex;
    
}

.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color:#4e547e;
    margin-bottom: 10px;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid  #4e547e ;
    color: #4e547e;
    border-radius: 30px ;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}


#h1{
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 60px;
    font-weight: bolder;
    color: #A987AF;
}

.m{
    background-color: #efbec6af;
    width: 77%;
    text-align: center;
    margin: 100px;
    padding: 40px;
    border: 10px solid black;
}

form{
    padding: 40px;
    width: 60%;
    margin: auto;
}

.fild{
    margin-bottom: 25px;
    width: 100%;
    display: grid;
    position: relative;
}

.label{
    color: #A987AF;
    font-size: xx-large;
    letter-spacing: 2px;
    padding: 0;
    font-weight: bolder;
}

.input{
    height: 50px;
    padding: 1px;
}


#send{
    height: 50px;
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
}
